<header>
    <div class="navbar navbar-dark" style="background-color: #FFC0CB;  ">
        <div class="navbar-brand align-item-centre d-flex">
            <i style="font-size: 80 px  ;" class="fas fa-cat"  > 
            </i>
            <strong style="font-size: 50 px ;" >YUNA</strong>
            <div class="form-group">
                <input type="text" class="s">
            </div>
            <span class="fa fa-search "></span>
        </div>
        <button class =" btn btn-primary">
            <i class="fa fa-shopping-cart" style="font-size:24px"></i>
            <div style="font-size: 10px;" class="badge bg-danger" >{{ cartItemCount }}</div>
        </button>
    </div>
</header>
